@import url(//db.onlinewebfonts.com/c/7e389c5e310dc537b083e0e25ea6eab5?family=Druk+Wide+Medium);
@import url(//db.onlinewebfonts.com/c/3e8167877ddfd17061c43746db21f8ed?family=Evernight);
/*@import url(//db.onlinewebfonts.com/c/d7b1b1488e2b196852b4ce2be77fd807?family=Sketchetik);*/

.navbar {
  z-index: 1000;
}
:root{
  font-size: 60px;
  font-family: sans-serif;
  --text-primary: #76b666;
  --text-secondary: #fde461;
  --bg: #dee9dc;
  --bg-accent: #b8d1b8;
  --nav-size: 60px;
  --border: 1px solid #d4e3d7;
  --border-radius: 8px;
  margin: 0;
  padding: 0;
}

.margins {
  width: 100px;
  height: auto;
  display: block;
}

.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.labelogo {
  height: 100%;
  width: 70%;
  position: flex;
  pointer-events: none;
  padding-bottom: 10%;
  margin-left: 10%;
  z-index: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #dee9dc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #8f8f8f;
}

ul {
  margin:0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 750px) {
  .navbar {
    float: none;
    display: flex;
    flex-direction: column;
    width: 10%;
    text-align: center;  /*If you want the text to be left-aligned on small screens*/
  }
}

#cf img {
  animation-name: cf3FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; 
  animation-duration: 10s;
  animation-direction: alternate;
  position:absolute;
  left: 0;
  width: 100%;
}

#cf img:nth-of-type(1) {
  animation-delay: 8s;
}

#cf img:nth-of-type(2) {
  animation-delay: 5s;
}

#cf img:nth-of-type(3) {
  animation-delay: 1s;
}

@keyframes cf3FadeInOut {
  /* distributing times evenly */
  0% {
      opacity: 1;
  }
  25% {
      opacity: 0;
  }
  75% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
