@import url(//db.onlinewebfonts.com/c/7e389c5e310dc537b083e0e25ea6eab5?family=Druk+Wide+Medium);

div {
    display: block;
}

/*.footer-border {
    border-top: 1px solid #d4e3d7;
}*/

.wrapper {
    background-color: #dee9dc;
    border-color: #d4e3d7;
}

.Footer {
    background-color: #dee9dc;
    min-height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
    clear: both;
  }

  .Footer {
    background-color: #dee9dc;
    border-color: #d4e3d7;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 4% 2% 4%;
    width: 92%;
    color: black;
    clear: both;
}

.footer-masthead {
    background-color: #dee9dc;
    display: flex;
    padding-right: 10%;
}

.footer-masthead img {
    max-width: 10%;
    align-self: center;
}

.Footer p {
    align-self: center;
    font-size: 60%;
    margin-top: 2%;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
p {
    font-family: 'Space Mono';
    color: black;
    line-height: 1.6;
    font-size: 60%;
}

.footer-nav {
    background-color: #dee9dc;
    display: flex;
    flex-basis: 1%;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer-nav a {
    flex-direction: column;
    flex-wrap: wrap;
    text-decoration: none;
    font-family: 'Space Mono';
    color: black;
    font-size: 60%;
    line-height: 2;
}

a:hover webkit-any-link {
    cursor: pointer;
    text-decoration: underline;
}
