
.navbar {
    margin-top: 7%;
    margin-left: 1%; /*this works for the whole bar */
    height: 0px;
    position: fixed;
    z-index: 1000;
  }

.c-list {
    margin-left: 1%;/*this too needs to be kept*/
    height: 250px;
    width: 250px;
    transform: rotate(90deg);
    flex-direction: column;
    z-index: 1000;
  }
  
  .c-list__item {
    background: #d4e3d7;
    height: 80%;
    line-height: 10px;
    width: 80%;
    margin: 6px;
    position: relative;
    transition: color 1s, box-shadow 1s;
    z-index: 1000;
  }
  .c-list__item:hover {
     cursor: pointer;
     color: #303030;
  }
  
  .c-list__item--1 {
    transition: transform 500ms;
    background-image: url(mini4.png);
    background-size: cover;
  }
  
  .c-list__item--1:hover {
     transform:translate(0px,-50px);
   }
  
  .c-list__item--2 {
    transition: transform 500ms;
    background-image: url(mini2.png);
    background-size: cover;
  }
  .c-list__item--2:hover {
     transform:translate(-10px,-10px);
   }
  
  .c-list__item--3 {
    transition: transform 500ms;
    background-image: url(mini1.png);
    background-size: cover;
  }
  .c-list__item--3:hover {
     transform:translate(10px,-10px);
   }
  
  .c-list__item--4 {
    transition: transform 500ms;
    background-image: url(mini3.png);
    background-size: cover;
  }
  .c-list__item--4:hover {
     transform:translate(0px,-50px);
   }
  
  .c-list__link {
    color: #f7f7f7;
    transform: rotate(-90deg);
    position: absolute;
    width: 10%;
    padding: 0;
    margin: 0;
    line-height: 5;
    transition: color 1s;
  }
  .c-list__item--3:hover {
     transform:translate(10px,10px);
   }
  
  .c-list__link--1 {
    top: 37%;
    padding-left: 75%;
    padding-top: 70%;
    text-align: center;
    font-size: 27px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    text-decoration: none;
    color: rgba(2, 42, 2, 0.68);
  }
  
  .c-list__link--2 {
    top: 40%;
    padding-top: 80%;
    padding-left: 85%;
    text-align: center;
    font-size: 27px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    text-decoration: none;
    color: rgba(2, 42, 2, 0.68);
  }
  
  .c-list__link--3 {
    padding-top: 10%;
    padding-right: 60%;
    text-align: center;
    font-size: 27px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    text-decoration: none;
    color: rgba(2, 42, 2, 0.68);
  }
  
  .c-list__link--4 {
    top: 20%;
    padding-top: 90%;
    padding-left: 70%;
    text-align: center;
    font-size: 27px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    text-decoration: none;
    color: rgba(2, 42, 2, 0.68);
  }